{% extends "base.html" %}

{% block title %}<b>TASKS LIST:</b> {% endblock %}

{% block text %}<br>
<a href="./newtask/">Create new task</a>
<!--<form method="get" action="./newtask/">-->
    <!--<input type="submit" value="Create new task">-->
<!--</form>-->
{% for post in object_list %}
<div> <br>
<div><b>Author:</b> {{ post.author }}</div>
<div><b>Title:</b>  {{ post.title }}</div>
<div><b>Desc:</b>   {{ post.text }}</div>
<div><b>Date:</b>   {{ post.pub_data }}</div>
    <br>
</div>
{% endfor %}
{% endblock %}