{% extends "base.html" %}

{% block title %}<b>Welcome, new user!</b> {% endblock %}

{% block text %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <br>
        <div>{{field.label_tag}} {{field}}</div>
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error|escape}}
                <br>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <input type="submit" value="Join">
</form>
{% endblock %}